.git
.github
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/.mypy_cache
**/.ruff_cache
tests/
docs/
scripts/
gpu_worker/
data/
models/
config/
*.mp4
*.mkv
*.avi
*.mov
*.pdf
*.zip
*.tar
*.tar.gz
*.7z
*.pth
*.pt
*.onnx
*.md
!README.md
